.squad-card-container {
    width: 20%;

    @media (max-width: 1250px) { 
        margin-top: 25px;
        }

    .squad-card-wrapper {
        .squad-card-image {
            display: flex;
            align-items: center;
            justify-content: center;
            .squad-picture {
                height: 300px;
                width: 300px;
            }
        }

        .squad-card-bottom-text {
            padding: 35px;
            background-color: #f7f7f7;
        }
    }
}