.blog-page-container {
    width: 100%;

    .blog-page-wrapper {
        height: 1550px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 130px;;
        width: 100%;

        .blog-text-wrapper {
            text-align: center;
            width: 60%;
            font-size: 1.1em;
            letter-spacing: 1px;
            margin-bottom: 50px;
        }
    
        h1 {
            font-size: 2.5em;
            text-decoration: underline;
        }


        .blog-card-container {
            width: 90%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}