.services-section-container {
    margin-top: 850px;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media (max-width: 1600px) { 
        margin-right: 70%;
        }

        @media (max-width: 500px) { 
            height: 1400px;
            }

    .services-section-wrapper {
        height: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        
        .services-text {
            text-align: center;
            width: 50%;

            
    @media (max-width: 1000px) { 
        width: 75%;
        }
        }
    
        .icons-container {
            display: flex;
            width: 65%;
            justify-content: space-around;
            align-items: center;

            @media (max-width: 500px) { 
                flex-direction: column;
                }

            .icons-container-half {
                display: flex;
                width: 100%;
                justify-content: space-around;
                align-items: center;

                @media (max-width: 950px) { 
                    flex-direction: column;
                    }
            }
        }

        .services-cta-container {
            z-index: 2;
        }
    }
}
